
@media screen and (min-width: 661px) and (max-width: 1160px) {
    /* ====================== Restaurant Listing ====================== */
    #restaurants-list li {
        width: 35%;

    }
     /* ====================== Map ====================== */
     #map {
        height: 400px;
    }
    /* ====================== Filter options ====================== */
    .filter-options {
        height: 65px;
    }
    /* ====================== Breadcrumbs ====================== */
    #breadcrumb {
        display: none;
    }

};
