
@media screen and (max-width: 749px ) {
    /* ====================== Restaurant Listing ====================== */
    #restaurants-list li {
        width: 75%;
    }
    /* ====================== Map ====================== */
    #map {
        height: 750px;
    }
    /* ====================== Filter options ====================== */
    .filter-options {
        height: 65px;
    }

}